<!--
P.S
according to use the same html using bootstrap in the two component  if i call them together 
here in the parent, they conflict each other by adding the active class in the wrong place  
-->


<!-- if you use app-slider-component use this html code -->

<h1>using input</h1>
<app-slider [items]="items"></app-slider>



<!-- if you use app-ng-content-slider-component use this html code -->

 <!-- <h1>using ng-container</h1>
<app-ng-content-slider>
  <ng-container *ngFor="let item of items">
    <ng-container *carouselItem>
      <img class="d-block w-100" [src]="item.imgUrl" >
      <div class="carousel-caption d-none d-md-block">
        <h5>{{item.title}}</h5>
        <p>{{item.body}}</p>
      </div>
    </ng-container>
  </ng-container>
</app-ng-content-slider>   -->



